.detContainer {
    margin-top: 4%;
    border-radius: 16px;
    background-color: white;
    padding: 10px;
    margin: 4%;
    overflow: hidden;
    overflow-y: scroll;
    font-family: 'Mulish', sans-serif;
    box-shadow: 0 0 6px 6px rgba(0, 0, 122, 0.2);
    background: linear-gradient(115deg, rgba(53, 46, 84, 0.6), rgba(84, 79, 119, 0.6));
    backdrop-filter: blur(50px);
    position: relative;
    z-index: 4;
}
#adduser {
    width: 22%;
    margin-right: 2%;
    margin-left: 4%;
}
#adduser:hover {
    transform: scale(1.06);
}
#detailsWrapper{
    overflow: hidden;
    padding: 3%;
    overflow-y: scroll;
}
#remUserBtn{
    height: 22px;
    width: 22px;
    margin-top:10%;
    margin-left: 6%;
}
#remUserBtn:hover{
    transform: scale(1.12)
}