#navbar{
    position: absolute;
    height: 100%;
    width: 18%;
    background-color: #000000;
    background: linear-gradient(115deg, rgba(185, 147, 255, 0), rgba(130, 92, 255, 0));
    backdrop-filter: blur(40px);
    border-radius: 10px;
    box-shadow: 0 18px 42px 0 rgba(0, 0, 0, 0.6);
    z-index: 6;
}
#navbar ul{
    margin-top: 40%;
}
#navbar ul li{
    list-style: none;
    cursor: pointer;
    margin-top: 12%;
}
#navbar ul a{
    margin-top: 10%;
    text-decoration: none;
    color: white;
    position: relative;
    font-size: 1.06rem;
}
header{
    display: flex;
}
#plus{
    position: relative;
    width: 26px;
    height: 26px;
    left: 30%;
    margin-top: 11.2%;
}
#plus:hover{
    transform: scale(1.18);
}