#homeMain{
    margin-left: 20%;
    height: 100vh;
    position: relative;
}
.desContainer {
    margin-top: 4%;
    border-radius: 16px;
    background-color: white;
    padding: 0px;
    margin: 4%;
    overflow: hidden;
    box-shadow: 0 0 6px 6px rgba(0, 0, 122, 0.2);
    background: linear-gradient(115deg, rgba(53, 46, 84, 0.6), rgba(84, 79, 119, 0.6));
    backdrop-filter: blur(50px);
    position: relative;
    z-index: 4;
    height: 200px;
    width: 200px;
}

#desWrapper {
    display: flex;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.curve {
    height: 100vh;
    width: 30%;
    background-color: aqua;
}

.cur {
    position: absolute;
    height: 300px;
    width: 300px;
    right: 10%;
    bottom: -60%;
}

.cur2 {
    position: absolute;
    height: 300px;
    width: 300px;
    right: -50%;
    bottom: -60%;
}

.cur1 {
    position: absolute;
    height: 180px;
    width: 180px;
    right: 6%;
    bottom: -18%;
    z-index: 2;
}

.BG {
    height: 300px;
    width: 800px;
    border-radius: 20px;
    margin-top: 2%;
}
.hpWrapper{
    margin-left: 7.4%;
}
.hp3 {
    position: absolute;
    top: 7.2%;
    left: 28%;
    font-size: 4.8rem;
    animation: slideIn 1s;
}
@keyframes slideIn {
    0%{
        transform: translateX(-200px);
    }
    100%{
        transform: translateX(0);
    }
}
#twopoint{
    display: flex;
    position: absolute;
    top: 4%;
    left: 46%;
    font-size: 4.8rem;
}
#h31{
    animation-delay: 3s;
    animation: twoSlide 1.6s;
}
#h32{
    animation-delay: 3s;
    animation: twoSlide 2.0s;
}
#h33{
    animation-delay: 3s;
    animation: twoSlide 2.4s;
}
@keyframes twoSlide {
    0%{
        transform: translateY(-280px);
    }
    100%{
        transform: translateY(0);
    }
}

#loading {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 50%;
    top: 50%;
    z-index: 12;
}